

.title {
    margin: 16% 0 0 35%;
    font-size: 96px;
    margin-bottom: 4px;
}

.quote {
    font-size: 24px;
}
.btn.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn.btn-file > input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
